body {
  margin: 0;
}
h1 {
  margin-top: 0;
}
div {
  background-color: #E4F9F5;
}
.container {
  background-color: blue;
  margin:20px;
  padding:10px;
  font-family: fantasy;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
}
